################################################
##############  .eslintignore  #################
################################################

################################################
# Ignore everything but your source code.
################################################

*
!source